@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

html, body {
  margin: 0px!important;
  padding: 0px!important;
}

body {
  background-color: #f3f8ff;
  font-family: 'Poppins';
}

:root {
  font-size: 100%;
}

p {
  font-size: 1em;
}

.container1 {
  background-color: #7579e7;
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: contain, cover;
  color: #bedcfa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  height: 500px;
}

a.btn-contratar {
  display:inline-block;
  padding: 10px;
  border-radius: 20px;
  text-decoration:none!important;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #bedcfa;
  color: #7579e7;
  text-align:center;
  transition: all 0.2s;
}

a.btn-contratar:hover {
  background-color:#98acf8;
  color: #deecff;
}

.container2 {
  background-color: #bedcfa;
  color: #1b262c;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding: 40px;
  align-items: center;
  justify-content: center;
}


.container2 h1 {
  color: #7579e7;
}


.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 20px;
  background-color: #7579e7;
  background-image: linear-gradient(to top right, #7579e7, #9ab3f5);
  box-shadow: 0 0 1em #98acf8;
  border-radius: 6px;
  max-height: 300px;
  max-width: 200px;
  border: none!important;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  padding-top: 10px;
  max-width: 100px!important;
  max-height: 100px!important;
}

.container3 { 
  background-color: #7579e7;
  margin: 0px!important;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.container3 h1 {
  margin-top: 0px;
  text-align: center;
  color: #bedcfa;
  padding-bottom: 10px;
}

.carousel {
  margin: 10px;
}

.carousel-inner {
  border-radius: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.btn-test {
  display:inline-block;
  padding: 10px;
  border-radius: 10px;
  text-decoration:none!important;
  font-weight: 600;
  background-color: #bedcfa;
  color: #7579e7;
  text-align:center;
  transition: all 0.2s;
  margin: 5vh;
}

a.btn-test:hover {
  background-color:#98acf8;
  color: #deecff;
}

a.btn-proj {
  display:inline-block;
  padding: 10px;
  border-radius:10px;
  text-decoration:none!important;
  font-weight: 600;
  background-color: #bedcfa;
  color: #7579e7;
  text-align:center;
  transition: all 0.2s;
  margin: 5vh;
}

a.btn-proj:hover {
  background-color:#98acf8;
  color: #deecff;
}

.modelo {
  background-color: #bedcfa;
  width: 300px;
  height: 700px;
  border-radius: 8px;
  text-align: center;
  display: block;
  align-items: center;
}

.container4 {
  background-color: #bedcfa;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.container4 h1 {
  margin-top: 0px;
  text-align: center;
  color: #7579e7;
}

.social {
  text-align: center;
  justify-content: center;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-text {
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.social-text h4, .social-text p {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

.instagram, .linkedin {
  display: flex;
  align-items: center;
}

.ig-icon {
  max-width: 50px;
  max-height: 50px;
}

.linkedin-icon{
  max-width: 50px;
  max-height: 50px;
}

.email-container {
  background-image: linear-gradient(to bottom, #bedcfa, #98acf8);
  text-align: center;
  padding-bottom: 60px;
  padding-top: 40px;
}

.email-icon{
  max-width: 50px;
  max-height: 50px;
  padding-bottom: 5px;;
}