@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

html, body {
  margin: 0!important;
  padding: 0!important;
}

.container1, .container3 {
  background-color: #222831;
  color: white;
}


a.btn-contratar {
  display:inline-block;
  padding: .6rem;
  border-radius: 5px;
  text-decoration:none!important;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #7900FF;
  color: white;
  box-shadow: 0 0 1em #7700ffa2;
  transition: all 0.2s;
}

a.btn-contratar:hover {
  background-color:#B983FF;
  color: black;
}

.container2, .container5 {
  background-color: #7900FF;
  color: white;
}

.content2 {
  background-color: #222831;
  color: white;
  border: solid 2px white;
  padding: 2rem;
  border-radius: 5px;
}

.btn-container4 {
  display: flex;
  justify-content: center;
}

.accordion-body {
  color: black!important;
}

.card {
  background-color: #222831!important;
  color: white;
  border: solid 2px white!important;
  box-shadow: 0 .5em 1em #4b4b4b!important;
}

.card-body {
  text-align: center;
}


/*.accordion-item, .accordion-button, .accordion-header {
  background-color: #222831!important;
  color: white!important;
}*/

@media only screen and (min-width: 768px) {
  .container1, .container2, .container3, .container4, .container5 {
    padding: 2rem 5rem 1rem 5rem;
  }
  .container1, .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .proj-img {
    width: 33%;
  }
}

@media only screen and (max-width: 768px) {
  .container1 {
    padding: 2rem;
  }
  .container2, .container3, .container5 {
    padding: 1rem;
  }
  .content2 {
    padding: 1rem;
    font-size: .9rem;
  }
  .display-none {
    display: none;
  }
  .proj-img {
    width: 100%;
  }
}